.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
  }
  
  @media only screen and (max-width: 770px) {
    .container {
      width: 100%;
    }
  }
.chart{
  margin: 20px 0;
  height: max-content;
}