body{
  background-color: rgb(250,250,250);
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.image{
  width: 280px;
  margin: 25px 0px;
}

@media (max-width:770px){
  .container{
    margin: 0 10%;
  }
  .image{
    width: 90%;
  }
}
.blockquote{
  color: rgb(118, 121, 122);
  font-style: italic;
}
.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}